* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.card1 {
  border: 1px whitesmoke solid;
  background: white;
  width: 300px;
  padding: 10px;
  margin: 10px auto;
  border-radius: 14px;
  text-align: center;
}

h1 {
  margin-bottom: 8px;
}
.input-number {
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px;
  width: 80%;
  border-radius: 10px;
  border-color: #7300ff;
}
/* Unable to get the shine around the input box */
.input-number:focus {
  box-shadow: 0 0 0 1px #c1a3e7;
}

.btn {
  background-color: #7300ff;
  color: white;
  margin: 0 auto;
  margin-top: 15px;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
}
