.body {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: medium;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around; /* Distributes links evenly */
  background-color: #333;
}

.navbar li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
